.bg-orange {
    background-color: rgb(255, 102, 0);
}

.c-white {
    color: white;
}

.bg-red {
    background-color: red;
}

.bg-green {
    background-color: green;

}

.c-red {
    color: red;
}

.c-lightgrey {
    color: lightgrey;
}

.c-black {
    color: black;
}

.bg-black {
    background-color: black;
}