.card .img-second {
    display: none;
}

.card:hover .img-second {
    display: block;
}

.card:hover .img-first {
    display: none;
}
.dispositions-cards{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}